.App {
  padding: 20px;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-header {
  
  text-align: center;
  font-size: 17px;
  color: rgb(199, 216, 48);
}

.name-item{
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.processing{
  cursor: pointer;
  color: rgb(74, 130, 214);
}



.ordername{
  cursor: pointer;

}

.icon{
  font-size: x-small;
  padding-left: 10px;
  cursor: pointer;

}

button{
  color:black;
  background-color: gray;
  padding-top: 5px;
  margin-top: 8px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}




.product-details{
  padding-left: 200px ;
}


.customer-details{
  padding-left: 20px;
}


.layout{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.fa-edit{
  color: crimson;
}

